include ward/dbt_template/analysis/.gitkeep
include ward/dbt_template/macros/.gitkeep
include ward/dbt_template/macros/schema_changes.sql
include ward/dbt_template/models/.gitkeep
include ward/dbt_template/models/pending_orders_per_customer.sql
include ward/dbt_template/tests/.gitkeep
include ward/dbt_template/seeds/.gitkeep
include ward/dbt_template/seeds/customers.csv
include ward/dbt_template/seeds/orders.csv
include ward/dbt_template/seeds/schema.yml
include ward/dbt_template/.gitignore
include ward/dbt_template/packages.yml
include ward/dbt_template/README.md
include ward/templates/dbt_project.yml
include ward/templates/email_alert.html
include ward/include/index.html